@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;1,100&display=swap');

:root {
  --green: #81B29A;
  --cream: #F4F1DE;
  --drk-blue: #3D405B;
  --terra-cotta: #E07A5F;
  --gold: #F2CC8F;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background: var(--cream);
  margin: 0;
  border: 0;
  padding: 0;
}

h1, 
h2 {
  font-family: 'Lobster Two', cursive;
}

.menu {
  background: var(--drk-blue);
  height: 5vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.menu a {
  color: var(--cream);
  text-decoration: none;
}

.form {
  display: grid;
  width: 50vw;
  grid-template-columns: 1fr;
  padding: 20px;
}

.input-block {
  margin-bottom: 1vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.label {
  font-size: 1em;
}

input {
  height: 5vh;
  font-size: 1.5em;
}

.button {
  width: 15vw;
  height: 3em;
  border-radius: 2px;
  color: var(--cream);
  background-color: var(--green);
  font-size: larger;
  padding: 0;
  border: 0;
  transition: background-color .3s ease;
}

.button:hover {
  background-color: var(--gold);
}

.page-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 10vh;
}

.articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.article-list-item {
  background-color: var(--terra-cotta);
  padding: 10px;
  border-radius: 3px;
}

.show-article-button {
  height: 2em;
  text-decoration: none;
  color: var(--cream);
  transition: color .3s ease;
}

.show-article-button:hover {
  color: var(--drk-blue);
}

.link-to {
  text-decoration: none;
  background-color: var(--green);
  width: 15vw;
  height: 3em;
  border-radius: 3px;
  color: var(--cream);
  margin: 10px;
  text-align: center;
  text-justify: center;
}