<h2>{{this.article.title}}</h2>
<p>{{this.articleText}}</p>

{{!-- <button class="button">Show More</button> --}}
<LinkTo role="button" class="button" @route="articles.show" @model={{@article.id}}>show more</LinkTo>
<hr>