<nav class="menu">
  <LinkTo @route='home'>Home</LinkTo>
  <LinkTo @route='articles'>Articles</LinkTo>
  <LinkTo @route='signup'>Sign Up</LinkTo>
  <LinkTo @route='login'>Log In</LinkTo>
  {{#if this.loggedIn}}
    <button class="button" {{on "click" this.logOutClicked}}>Log Out</button>
  {{/if}}
</nav>
