<div class="comment-body">
  <div class="comment-contents">
    <p>{{{this.comment.body}}}</p>
    <p>by: {{this.comment.commenter}}</p>
  </div>
  <button
    {{on "click" this.deleteComment }}
    class="delete-button">
    Delete
  </button>  
</div>
