<div class="new-comment">
  <h2>Add a comment:</h2>
  <div >
    <label for="comment-body">Comment:</label>
    <Textarea @value={{this.commentBody}} name="comment-body" id="comment-body" cols="50" rows="10"></Textarea>
        <TextEditor ></TextEditor>

<br>
    <label for="commenter">Commenter:</label>
    <Textarea id="commenter" @value={{this.commenter}} />
  <br>

    <button class="button" {{on "click" this.saveComment}}>Save</button>
  </div>
</div>
