<div class="new-comment">
  <h2>Add a comment:</h2>
  <div >
    <TextEditor @bodyUpdated={{this.getBodyText}}></TextEditor>

    <br>
    <label for="commenter">Commenter:</label>
    <Textarea id="commenter" @value={{this.commenter}} />
    <br>

    <button class="button" {{on "click" this.saveComment}}>Save</button>
  </div>
</div>
