<div class="page-header">
  <LinkTo 
    @route="articles.new"
    class="link-to">
    Create New Post
  </LinkTo>
  <div>
    <label for="sort-order">Sort By:</label>
    <select {{on "change" this.sortOrderChanged}} name="sort-order" id="sort-order" class="drop-down">
      <option value="DESC">Desc</option>
      <option value="TITLE">Title</option>
    </select>
  </div>
</div>
<main class="articles-container">
    {{#each this.articles as |article|}}
      <Articles::ArticleListItem @article={{article}}/>
    {{/each}}
</main>