<div class="article-list-item">
  <h2 class="article-title">{{this.article.title}}</h2>
  <p class="article-text">{{this.articleText}}</p>

  <LinkTo
    role="button"
    class="show-article-button"
    @route="articles.show"
    @model={{@article.id}}>View Post</LinkTo>
</div>
