<div class="article-list-item">
  <h2>{{this.article.title}}</h2>
  <p>{{this.articleText}}</p>

  <LinkTo
    role="button"
    class="show-article-button"
    @route="articles.show"
    @model={{@article.id}}>show more</LinkTo>
</div>
